<!DOCTYPE html>
<html>
<head>
    <title>AoC {{ year }} Leaderboards</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1>Advent of Code {{ year }} Leaderboards</h1>

{% for leaderboardName, leaderboard in leaderboardData %}
    {% if year < 2025 %}
        {%  set maxDays = 25 %}
    {% else %}
        {%  set maxDays = 12 %}
    {% endif %}
    <div class="leaderboard">
        <h2>{{ leaderboardName }}</h2>
        <table>
            <thead><th class="text-right">Nom</th>{% for i in 1..maxDays %}<th class="day">Jour {{ i }}</th>{% endfor %}<th>Total</th></thead>
            <tbody>
            {% for memberName, memberData in leaderboard %}
                <tr>
                    <td class="text-right">{{ memberName }}</td>
                    {% for level in 1..maxDays %}
                        {% if memberData.completion_day_level.(level) is defined %}
                            {% if memberData.completion_day_level[level].2 is defined %}
                                <td class="fullstar text-center">★</td>
                            {% else %}
                                <td class="text-center">★</td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ memberData.stars }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</body>
</html>
